html{
    background-color: rgba(108, 54, 6, 0.56);
}

div{
    font-size: 35px;
    font-family: 'Carter One', cursive;
    border: solid 6px yellow;
    border-radius: 100px;
    display: inline-block;
    padding: 25px;
    margin: 20px;
}

p{
    color: rgb(195, 20, 20);
}

a{
    text-decoration: none;
}