body{
    text-align: center;
}
.weather-widget{
    background-color: #ffee15;
    border-radius: 30px;
    text-align: center;
    width: 350px;
    margin: 30px auto 0;
    padding: 10px;
    border: double 3px chocolate;
}
.weather-widget .info{
    padding: 5px;
    font-size: 22px;
}
.weather-widget .text{
    color: gray;
    width: 200px;
    font-size: 20px;
}
.weather-widget .property{
    color: #554689;
    font-style: italic;
    font-size: 16px;
    width: 100px;
    float: left;
    padding-left: 50px;
    text-align: left;
}
.weather-widget .value{
    color: #ce0d14;
    font-size: 18px;
    float: left;
    padding-left: 10px;
}
.weather-widget .button{
    color: red;
    padding: 8px;
    font-size: 15px;
    margin-left: 5px;
    border-radius: 15px;
}
.indent-top{
    margin-top: 60px;
}
.code-link{
    display: inline-block;
    margin-top: 25px;
    font-size: 25px;
}